du
usb
Music
Public
Videos
Desktop
Pictures
Documents
Downloads
Templates
workspace
fontconfig
IdeaProjects
.config/BraveSoftware
.config/discord
.config/spotify
.config/Mullvad VPN
.keychain
.npmrc
.bashrc
.yarnrc
.lesshst
.viminfo
.histfile
.steampid
.gitconfig
.ideavimrc
.steampath
.wget-hsts
.zcompdump
.Xauthority
.bash_logout
.bash_history
.bash_profile
.ncpamixer.conf
.git-credentials
.xsession-errors
.xsession-errors.old
.m2
.pki
.ssh
.vim
.java
.yarn
.zoom
.npm
.cache
.cargo
.gnupg
.icons
.local
.steam
.android
.mozilla
.ColorGrab
.librewolf
.vscode-oss
.screenlayout
